*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgColor: #EFEEEA;
  --title: #FE7743;
  --counter: #295776;
  --textColor: #000;
  --alertLimitCounter: red;
}

html {
  font-size: 17px;
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  background-color: var(--title);
  margin: 50px 0 20px;
  text-align: center;
  padding: 0 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

form {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#text-input {
  max-width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.1rem;
}

#char-count {
  font-weight: bold;
  
}

.colorCount {
  color: var(--counter);
}

.limitCounter {
  color: var(--alertLimitCounter);
}